<ion-view view-title="About">
  <ion-content>
    <div class="container">
      <div class="container_block white">
        <h1>About</h1>
        <p>&nbsp;</p>
        <p>Horizon notes is created by a team of 4 idiots during a (hack/app)athon organized by Ziggo/Liberty Global. The purpose was to create a game/app to enrich your TV watching experience.</p>
        <p>&nbsp;</p>
        <p>Besides this app (made in two days), we made lots of other apps. Check <a href="http://www.matise.nl">www.matise.nl</a> for more of our work</p>
      </div>
      <div class="container_block green">
        <center>
          <a href="http://www.matise.nl"><img src="img/matise.svg" /></a>
        </center>

      </div>
    </div>
  </ion-content>
</ion-view>
