<ion-view view-title="Karaoke" id="karaoke">
	<ion-pane>
		<div class="container">
			<div class="container_block green">
        <div class="background"></div>
				<div class="row">
					<div class="column align-left">
						<a href="#" class="button black round large float-right horizon-line close">Close</a>
					</div>
					<div class="column align-right">
					</div>
				</div>
				<h3 class="black"><span>{{::song.artist}}</span> - {{::song.title}}</h3>
			</div>
		</div>
	</ion-pane>
</ion-view>
