<ion-view view-title="Login">
	<ion-header-bar>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeLogin()">Close</button>
		</div>
	</ion-header-bar>
	<ion-pane class="ion-content-view" delegate-handle="mainScroll">

		<div class="container">
			<div class="container_block white">
				<form ng-submit="doLogin()">
					<label>Username</label>
					<input type="text" placeholder="Henri Matisse" ng-model="loginData.username">

					<label>Password</label>
					<input type="password" placeholder="@4ppathon!" ng-model="loginData.password">

					<!-- <button class="button ghost" type="submit" >Log in</button> -->
          <a class="button ghost" href="#/app/nosound">Log in</a>

					<div class="spacer">of</div>

				</form>
			</div>
      <div class="container_block green text-center">


        <p>Or login using your Facebook account</p>
        <p>&nbsp;</p>
        <a class="button rounded facebook" ng-click="loginFacebook()">Facebook Login</a>

      </div>
		</div>
	</ion-pane>
</ion-view>
