<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="opacity: 0; width: 100px; height: 100px;">
				</button>
				<a href="" class="menuToggle" menu-toggle="right">
					<span>menu</span>
				</a>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/login">
					Login
				</ion-item>
				<ion-item menu-close href="#/app/nosound">
					No sound
				</ion-item>
				<ion-item menu-close href="#/app/play">
					Play
				</ion-item>
				<ion-item menu-close href="#/app/about">
					About
				</ion-item>
				<ion-item menu-close href="#/app/prekaraoke">
					Sing-A-Long?
				</ion-item>
				<ion-item menu-close href="#/app/karaoke">
					Sing-A-Long!
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
