<ion-view view-title="Play" id="play">
	<ion-pane>
		<div class="container">
			<div class="container_block white">
				<h1>Which song is playing now?</h1>
				<div class="timer row space-between">
					<div class="column"><span style="color: black;">Time left</span></div>
					<div class="column ticker" data-current="{{numberCurrent}}">
						<div class="ticker__wrap wrapper">
							<div class="ticker__wrap--tick">
								<span></span>
							</div>
							<div class="ticker__wrap--tick">
								<span>0</span>
							</div>
							<div class="ticker__wrap--tick" ng-repeat="i in getNumber(number) track by $index">
								<span>{{$index+1}}</span>
							</div>
						</div>
					</div>
					<div class="column"><span style="color: black;">sec</span></div>
					<div class="column">
						<div class="loader" data-load="{{loader}}"></div>
					</div>
				</div>
			</div>
			<div class="container_block green">
				<form>
					<label>Artist:</label>
					<input type="text" placeholder="Mees Master" ng-model="song.artist" ng-model-options="{ getterSetter: true }"/>
					<label>Song:</label>
					<input type="text" placeholder="Brother from another mother" ng-model="song.title" ng-model-options="{ getterSetter: true }" />
				</form>
				<div class="block align-right">
					<a href="#" ng-click="modal = true" class="button black round large float-right horizon-line go">Go</a>
				</div>
			</div>
		</div>
    <div class="modal" ng-class="{'active': modal}">
      <div class="modal-bg"></div>
      <div class="modal-content">
        <h3 id="songArtist" class="good" ng-bind="song.artist()"></h3>
        <hr />
        <h3 id="songTitle" class="wrong green" ng-bind="song.title()"></h3>
      </div>
    </div>
	</ion-pane>
</ion-view>
