<ion-view view-title="Prekaraoke" id="prekaraoke">
	<ion-pane>
		<div class="container">
			<div class="container_block black">
				<h1 class="white">Do you fancy this song?</h1>
        <h1 class="green">Amaze your friends with a sing-a-long.</h1>
        <div class="row">
          <div class="column align-left">
            <a class="icon icon-close" ng-click="goBack()">No thanks</a>
          </div>
          <div class="column align-right">
            <a ng-click="goPlay()" class="button green round large float-right horizon-line mic">Go</a>
          </div>
        </div>
			</div>
		</div>
	</ion-pane>
</ion-view>
