<ion-view view-title="Prekaraoke" id="prekaraoke">
	<ion-pane>
		<div class="container">
			<div class="container_block black">
				<h1 class="white">Did you fancy the song?</h1>
        <h1 class="green">Amaze your friends with a sing-a-long.</h1>
        <div class="row">
          <div class="column align-left">
            <a class="icon icon-close">No thanks</a>
          </div>
          <div class="column align-right">
            <a href="#" class="button green round large float-right horizon-line mic">Go</a>
          </div>
        </div>
			</div>
		</div>
	</ion-pane>
</ion-view>
