<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
    <p>Integer sed dolor sit amet eros tincidunt efficitur quis ut nunc. Pellentesque rhoncus, tellus eget finibus maximus, elit magna scelerisque urna, cursus consequat mi ligula at ipsum. Quisque imperdiet efficitur ullamcorper. Aliquam eu turpis scelerisque, ornare ante eu, dictum dolor. Proin convallis posuere malesuada. Nullam auctor enim mauris, id hendrerit lorem porttitor sed. Proin ullamcorper, nisi nec ultricies consequat, sapien sem ullamcorper nisi, at interdum turpis mauris sed elit. Sed maximus accumsan nibh, nec pellentesque magna. Suspendisse efficitur consectetur tellus consequat cursus. Mauris blandit enim in leo tincidunt, quis eleifend sem mollis. Mauris pretium tortor id eleifend sagittis. Vestibulum eu pulvinar ligula, eget fermentum lacus. Nam quis tellus risus. In id euismod mi.</p>

<p>Fusce eu ullamcorper ante. Curabitur ut lorem non felis lobortis gravida quis a turpis. Nullam non metus sit amet sapien mollis efficitur vitae in nulla. Nulla vel libero hendrerit, iaculis risus quis, fringilla neque. Suspendisse a faucibus turpis. Aliquam interdum eu nisi eu ultricies. Nulla facilisi.</p>
  </ion-content>
</ion-view>
