
.button{ width: auto; height: rem(60); font-size: 1rem; position: relative; line-height: rem(60); padding: 0 1.5rem;
  &.black{ background-color: color(zwart); color: color(groen); }
  &.white{ background-color: color(wit); color: color(zwart); }
  &.green{ background-color: color(groen); color: color(zwart); }

  @each $color in $social-colors{
    &.#{nth($color,1)}{ background-color: #{nth($color,2)}; color: white; }
  }
  &.float-right{ float: right; }
  &.float-left{ float: left; }

  &.round{ width: auto; border-radius: rem(30); }
  &.black{ background-color: color(zwart); }
  &.large{ width: rem(120); height: rem(120); line-height: rem(120); font-size: 2rem;
    &.round{ border-radius: rem(60); }
  }

  &.horizon-line{
    &:before{ content: ""; width: 2rem; height: 4px; display: block; background: color(groen);  border-radius: 2px; position: absolute; left: 0px; top: 50%; transform: translate(-50%,-50%); }
  }
}
