%form-button-basic{
  padding: .5rem 1rem; border: none; border-radius: none; font-size: rem(24); width: 100%; height: rem(50); line-height: rem(30); padding: rem(10) 0; background: none; color: color(wit); font-family: $main-font; font-weight: $font-bold; box-shadow: 0 0px 0 0 color(wit) inset; transition: $transition $bezier;
  @include placeholder(){ color: color(zwart,.25);
  }
  // &:focus{ box-shadow: 0 -4px 0 0 color(wit) inset; }
  .white &{ color: color(groen); }
}

form{ padding: 0rem; text-align: center; text-align: center;
  input{
    &[type=text],
    &[type=email],
    &[type=phone],
    &[type=text],
    &[type=password]{
      @extend %form-button-basic;
    }
    & + button,
    & + .btn,
    & + input{ margin-top: 1rem !important; }
  }
  textarea{
    @extend %form-button-basic;
  }
  label{ display: block; font-size: rem(12); text-align: left; color: color(zwart); }
  .spacer{ padding: 1rem; display: block; font-style: italic; color: white; }
  // *{ transform: scale(0); }
  // @for $i from 1 through 100{
  //   *:nth-child(#{$i}){ animation: popIn .2s #{$i*0.2}s forwards; }
  // }
}


input{
  & + button,
  & + input{ margin-top: 1rem; }
  & + label { margin-top: 1rem; }
}


//@include keyframes(popIn)
